<style>
  /* ===== Glitch Image Animation ===== */
.glitch-img {
  /* animation: glitchImage 2s infinite; */
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* ===== Glitch Glow Animation for Video ===== */
.glitch-video {
  /* animation: glitchGlow 3s infinite; */
  mix-blend-mode: lighten;
  background-color: transparent;
}
</style>
